:root{
    --a:0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.close {
    display: none;
}

body {
    background-color: black;
    color: white;
}


.left {
    width: 25vw;
    padding: 10px;
}

.left .close {
    position: absolute;
    right: 21px;
    top: 28px;
}

.logo {
    display: flex;
}

.logo h1 {
    justify-items: center;
    align-items: center;
    margin-left: 10px;
}


.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}



.m-1 {
    margin: 5px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;

}

.heading img {
    width: 20px;
}

.library {
    min-height: 90vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.right {
    margin: 16px 0;
    position: relative;
}


.footer a {
    color: gray;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 70px;
}

.header>* {
    padding: 20px;


}

.spotify-playlist {
    padding: 16px;
}

.spotify-playlist h1 {
    padding: 16px;
}

.spotify-playlist .card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;

}

.cardContainer {
    display: flex;

    gap: 30px;
    margin: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow: auto;
}

.card {
    margin-top: 10px;
    position: relative;
    transition: all .9s;
}

.card:hover{
    background-color: rgb(79, 64, 64);
    cursor: pointer;
    --a:1;
}

.card >* {
    padding-top: 10px;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 184px;
    right: 15px;
    opacity: var(--a);
     transition: all 1s ease-out;

}

.card img {
    width: 100%;
    object-fit: contain;
}

.button>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(96, 91, 91);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    width: 80px;
    font-size: 17px;
}


.playbar {
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background-color: #dad6d5;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 29px;
}

.abovebar .songbuttons {
    display: flex;
    justify-content: center;
    gap: 12px;

}

.songinfo,
.songtime {
    color: rgb(0, 0, 0);
    padding: 0 12px;
    width: 250px;
}

.songList ul {
    padding: 0 12px;

}

.songList {
    /* display:flex; */
    height: 500px;
    overflow: auto;
    margin-bottom: 22px;
}

.hamburger {
    display: none;
}

.songtime .volume {
    position: absolute;
    right: 8px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    font-size: 15px;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0px;
    border: 1px solid white;
    margin: 12px 0;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

.songList .info {
    font-size: 13px;
    width: 145px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin-top: 2px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5%;
}

.songbuttons img {
    cursor: pointer;
}

.timenvol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}

.songinfo {
    display: flex;
}

.songtime {
    width: 125px;
    color: black;
    padding: 0 12px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    height: 42px;
}

@media (max-width:934px) {
    .left {
        background-color: rgb(0, 0, 0);
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        padding: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 105px);
        position: fixed;
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .hamburgerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 34px;

    }

    .card {
        width: 90vw;

    }

    .cardContainer {
        margin: 0;
        justify-content: center;

    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .info div {
        word-break: break-all;
    }
}

    @media (max-width:400px) {

        .card{
            width: 84vw;
        }
    }

    